body {
   
    background: linear-gradient(120deg, #333333 0%, #1a1a1a 60%, #000000 100%);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

form {
    
    max-width: 60rem; 
    margin: auto;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0009;
    padding-top: 4rem;
}

#modal-content {
    
    background-color: #ffffff; 
    margin: auto auto;
    padding: 1.5rem;
    border: 1px solid #888;
    max-width: 800px;
}

label {
    
    color: #333; 
    font-weight: 600;
}

input {
    
    background-color: #f8f8f8; 
    border: 1px solid #ccc;
}

input::placeholder {
    color: #999;
}

input:focus {
    
    outline: 3px solid #7DCCFC; 
    outline-offset: 1px;
    border-color: #7DCCFC;
}


.form-title {
    font-size: clamp(4rem, 4vw, 6rem);
    font-weight: 700;
    margin-bottom: 2rem;
    color: #d2cdcd; 
}
